@import "@styles/theme";

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 32px;
}

.block {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.required {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-grow: 3;
  overflow: auto;
  gap: 12px;
  max-height: 356px;
  padding-right: 12px;
  padding-bottom: 20px;

  mask-image: linear-gradient(to top, transparent, black),
    linear-gradient(to left, transparent 10px, black 10px);
  mask-size: 100% 20000px;
  mask-position: left bottom;
  -webkit-mask-image: linear-gradient(to top, transparent, black),
    linear-gradient(to left, transparent 10px, black 10px);
  -webkit-mask-size: 100% 20000px;
  -webkit-mask-position: left bottom;

  transition: mask-position 0.3s ease-in-out,
    -webkit-mask-position 0.3s ease-in-out;

  &:hover {
    mask-position: left top;
    -webkit-mask-position: left top;
  }

  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-thumb {
    border: 8px solid rgba($primary, 0.5);
    border-radius: 4px;
  }

  &:has(div:nth-child(5)) {
    padding-right: 8px;
  }
}
