@import "@styles/theme";

.root {
  display: flex;
  gap: 12px;

  & > div:first-child {
    flex-grow: 3;
  }
}

.recipe {
  flex-shrink: 0;
  width: 345px;
  display: flex;
  flex-direction: column;
  gap: 12px;

  .items {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .title {
    height: 26px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    & > p {
      @include bodyMax;
    }
  }
}

.components {
  display: flex;
  align-items: center;
  gap: 7px;

  &:has(> :nth-child(5)) {
    .resource_item {
      height: auto;
      padding: 4px;
    }
  }
}

.input {
  position: absolute;
  bottom: 7px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.inputs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 12px;
  flex-shrink: 0;
  width: 200px;
  flex-grow: 0;
  gap: 20.5px;

  .row {
    display: flex;
    align-items: center;
    gap: 12px;
  }
}

.item_button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  &:first-child {
    width: 100%;
  }

  padding: 12px 16px;
  background-color: darken($white, 20%);
  border-radius: 6px;
  border: 1px solid rgba($white, 0.1);
  color: $bg;

  transition: transform 0.2s ease-in-out;

  svg {
    width: 20px;
    height: 20px;
  }

  &:hover {
    transform: scale(1.02);
  }

  &.red {
    background-color: $red;
    color: $white;
  }

  @each $name, $color in $rarities {
    &.#{$name} {
      background-color: darken($color, 30%);
      color: $white;
    }
  }
}

.remove_item_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 12px;
  right: 8px;
  width: 24px;
  height: 24px;
  border-radius: 4px;
  background-color: $red;
  z-index: 1;
  color: $white;

  svg {
    width: 18px;
    height: 18px;
  }
}

.search {
  position: relative;
}

.searched {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 70px;
  left: -30px;
  width: calc(100% + 60px);
  max-height: 200px;
  overflow-y: auto;
  background-color: $secondary;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 10;

  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-thumb {
    border: 4px solid rgba($primary, 0.5);
    border-radius: 4px;
  }
}

.item_wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  padding: 12px;
  transition: background-color 0.1s ease-in-out;

  &:hover {
    background-color: rgba($bg, 0.5);
  }

  .image {
    width: 40px;
    height: 40px;
    border-radius: 6px;
    background-image: none;
    border: none;

    &::before {
      height: 4px;
    }

    img {
      width: 30px;
      height: 30px;
    }
  }
}
