@font-face {
  font-family: 'TT Commons';
  src: local('TT Commons Bold'), local('TTCommons-Bold'),
      url('@styles/../fonts/TTCommons/TTCommons-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'TT Commons';
  src: local('TT Commons Regular'), local('TTCommons-Regular'),
      url('@styles/../fonts/TTCommons/TTCommons-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TT Commons';
  src: local('TT Commons Medium'), local('TTCommons-Medium'),
      url('@styles/../fonts/TTCommons/TTCommons-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
