@font-face {
  font-family: "TT Commons";
  src: url("TTCommons-Bold.eot");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "TT Commons";
  src: url("TTCommons-Regular.eot");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "TT Commons";
  src: url("TTCommons-Medium.eot");
  font-weight: 500;
  font-style: normal;
}
