@import "@styles/theme";

.navlink {
  display: flex;
  align-items: center;
  gap: 8px;
  color: $default;
  text-decoration: none;

  transition: color 0.2s ease-in-out;

  svg {
    margin-bottom: 7px;

    path {
      transition: fill 0.2s ease-in-out;
    }
  }

  @include body;

  &.active,
  &:hover {
    color: $white;

    svg path {
      fill: $white;
    }
  }

  &.active:hover {
    cursor: default;
  }
}
