@import "@styles/theme";

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &.withoutControls {
    cursor: pointer;
    padding: 12px;
    transition: background-color 0.1s ease-in-out;

    &:hover {
      background-color: rgba($bg, 0.5);
    }
  }
}

.info {
  display: flex;
  align-items: center;
  gap: 8px;

  p {
    @include caption;
    max-width: 150px;
  }
}

.controls {
  display: flex;
  align-items: center;
  gap: 12px;

  span {
    width: 16px;
    text-align: center;
    @include subtitle;
  }
}
