@import "@styles/theme";

.root {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
  overflow: hidden;

  background-color: rgba($bg, 0.6);
  background-image:
    linear-gradient(rgba(255, 255, 255, 0.03) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255, 255, 255, 0.03) 1px, transparent 1px);
  background-size: 33px 33px;
  background-position: center center;

  border: 1px solid rgba($white, 0.1);
  border-radius: 16px;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 6px;
    top: 0;
    left: 0;
    background-color: $white;
  }

  &::after {
    content: "";
    position: absolute;
    top: -50px;
    left: 0;
    width: 100%;
    height: 100px;
    border-radius: 100%;
    background-color: rgba($white, 0.2);
    filter: blur(20px);
  }

  @each $name, $color in $rarities {
    &.#{$name} {
      &::before {
        background-color: $color;
      }

      &::after {
        background-color: rgba($color, 0.2);
      }
    }
  }

  & > img {
    position: relative;
    height: 150px;
    width: auto;
    z-index: 1;
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
  }
}
