@import "@styles/theme";

.wrapper:has(div:nth-child(9)) {
  -webkit-mask-image: linear-gradient(to bottom, transparent 10px, #000 60px),
    linear-gradient(270deg, #000 10px, transparent 10px);
  -webkit-mask-position-y: -50px;
  -webkit-mask-size: 100% 440px;
  -webkit-mask-repeat: no-repeat;

  transition: -webkit-mask-position-y 0.15s linear;

  &.scrolled {
    -webkit-mask-position-y: 0px;
  }
}

.overlay {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
  width: 100%;
  overflow: auto;
  max-height: 383px;
  padding-right: 12px;
  padding-bottom: 20px;

  mask-image: linear-gradient(to top, transparent, black),
    linear-gradient(to left, transparent 10px, black 10px);
  mask-size: 100% 20000px;
  mask-position: left bottom;
  -webkit-mask-image: linear-gradient(to top, transparent, black),
    linear-gradient(to left, transparent 10px, black 10px);
  -webkit-mask-size: 100% 20000px;
  -webkit-mask-position: left bottom;

  transition: mask-position 0.3s ease-in-out,
    -webkit-mask-position 0.3s ease-in-out;

  &:hover {
    mask-position: left top;
    -webkit-mask-position: left top;
  }

  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-thumb {
    border: 4px solid rgba($primary, 0.5);
    border-radius: 4px;
  }

  &:has(div:nth-child(9)) {
    padding-right: 8px;
  }
}
