@import "@styles/theme";

.root {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 740px;
  background-color: rgba($input, 0.8);
  border: 1px solid rgba($white, 0.1);
  border-radius: 24px;
  backdrop-filter: blur(10px);
  padding: 20px;

  box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.63);
}
