@import "@styles/theme";

.wrapper {
  width: calc(100% + 16px);
  height: 491px;
  overflow-y: auto;
  padding-right: 8px;
  margin-top: 12px;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-thumb {
    border: 4px solid rgba($primary, 0.5);
    border-radius: 4px;
  }
}

.root {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
}
