@import "@styles/theme";

.name {
  @include bodyMax;
}

.close {
  position: absolute;
  top: 12px;
  right: 16px;
  color: $default;
  padding: 4px;

  &:hover {
    color: $white;
  }
}

.craft_tree {
  flex-shrink: 0;
}

.craft_decision {
  position: absolute;
  top: 20px;
  right: 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 6px;
  z-index: 1;
}

.badge {
  width: auto;
  gap: 6px;
}

.tabs {
  position: absolute;
  bottom: 10px;
  z-index: 1;

  display: flex;
  align-items: center;
  gap: 16px;
  background-color: rgba($input, 0.8);
  backdrop-filter: blur(4px);
  padding: 4px 5px;
  border-radius: 9px;

  @each $name, $color in $rarities {
    &.#{$name} .tab_button {
      &:hover:not(:disabled):not(.active) {
        border-color: $color;
      }

      &.active {
        color: $white;
        background-color: darken($color, 30%);
      }
    }
  }

  .tab_button {
    padding: 6px 12px 4px;
    font-size: 14px;
    font-weight: 200;
    line-height: 100%;
    border-radius: 6px;
    color: rgba($white, 0.8);
    background-color: transparent;
    border: 1px solid transparent;
    cursor: default;

    transition:
      background-color 0.2s ease-in-out,
      border-color 0.2s ease-in-out;

    &:hover:not(:disabled):not(.active) {
      cursor: pointer;
      border-color: $white;
    }

    &.active {
      color: $bg;
      background-color: darken($white, 50%);
    }
  }
}

.tree {
  display: flex;
  align-items: center;
  position: absolute;
  top: 50%;
  right: calc(50%);
  transform: translateY(-50%);

  transition: width 0.2s ease-in-out;
}

.tree_item {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 52px;
  height: 52px;
  border-radius: 12px;
  background-color: rgba(darken($white, 4%), 0.5);
  overflow: hidden;
  transition:
    transform 0.2s ease-in-out,
    background-color 0.2s ease-in-out;

  &:hover {
    cursor: pointer;
    transform: scale(1.1) !important;
    background-color: darken($white, 4%);

    img {
      transform: scale(0.9);
    }
  }

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    top: 0;
    left: 0;
    background-color: $white;
  }

  @each $name, $color in $rarities {
    &.#{$name} {
      &::before {
        background-color: $color;
      }

      background-color: rgba(darken($color, 4%), 0.5);

      &:hover {
        background-color: darken($color, 20%);
      }
    }
  }

  img {
    width: 40px;
    height: auto;
    transition: transform 0.2s ease-in-out;
  }
}

.own_recipe_btn {
  position: absolute;
  bottom: 10px;
  right: 112px;
  width: 34px;
  height: 34px;
  color: $bg;
  background-color: darken($white, 50%);
  border-radius: 9px;
  overflow: hidden;

  transition: background-color 0.2s ease-in-out;

  span {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &:hover {
    background-color: darken($white, 20%);
  }

  @each $name, $color in $rarities {
    &.#{$name} {
      color: $white;
      background-color: darken($color, 30%);

      &:hover {
        background-color: darken($color, 10%);
      }

      &.active {
        background-color: $white;

        svg {
          path[fill] {
            fill: darken($color, 20%);
          }
          path[stroke] {
            stroke: darken($color, 20%);
          }
        }
      }
    }
  }
}

.line {
  width: 10px;
  height: 2px;
  background-color: rgba($white, 0.5);
  transition: width 0.4s ease-in-out;

  &.big_line {
    width: 70px;
  }
}
