@import "./reset.scss";
@import "./theme.scss";

body {
  font-family: "TT Commons", sans-serif;
  background-color: $bg;
  background-image: url("./bg.svg");
  color: $white;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

main {
  flex-grow: 3;
}