@import "@styles/theme";

.item {
  width: 100%;
  background-color: rgba($input, 0.5);
  backdrop-filter: blur(2px);
  border: 1px solid rgba($white, 0.1);
  border-radius: 8px;
  overflow: hidden;
  transition: border-color 0.2s ease-in-out;

  .header {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .image {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      overflow: hidden;
      position: relative;
      min-height: 81px;
      padding-top: 6px;

      background-image:
        linear-gradient(rgba(255, 255, 255, 0.03) 1px, transparent 1px),
        linear-gradient(90deg, rgba(255, 255, 255, 0.03) 1px, transparent 1px);
      background-size: 32px 32px;

      border-bottom: 1px solid rgba($white, 0.1);

      &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 6px;
        top: 0;
        left: 0;
        background-color: $white;
      }

      &::after {
        content: "";
        position: absolute;
        top: -38px;
        left: 0;
        width: 100%;
        height: 76px;
        border-radius: 100%;
        background-color: rgba($white, 0.2);
        filter: blur(20px);
      }

      @each $name, $color in $rarities {
        &.#{$name} {
          &::before {
            background-color: $color;
          }

          &::after {
            background-color: rgba($color, 0.2);
          }
        }
      }

      img {
        width: 80px;
        height: auto;
        z-index: 1;
        filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
      }
    }

    h3 {
      @include body;
      padding: 0 10px;

      white-space: nowrap; /* Prevent text wrapping */
      overflow: hidden; /* Hide overflowing content */
      text-overflow: ellipsis; /* Add ellipsis to clipped text */
      width: 160px; /* Define a width for the element */
    }
  }

  .body {
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding: 6px 10px 10px;

    .prices {
      display: flex;
      flex-direction: column;
      gap: 4px;

      .price {
        display: flex;
        align-items: center;
        justify-content: space-between;

        span {
          font-size: 16px;
          color: rgba($white, 0.5);
        }

        p {
          display: flex;
          align-items: center;
          font-size: 16px;
          gap: 4px;

          img {
            margin-top: -5px;
            width: 16px;
            height: auto;
          }
        }
      }
    }

    .offers {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .offer {
        display: flex;
        align-items: center;
        gap: 6px;
        border-radius: 6px;

        padding: 3px 8px 0px 8px;
        background-color: $bg;

        svg {
          margin-top: -5px;
          width: 14px;
          height: 14px;
          color: $yellow;
        }
      }
    }
  }

  &:hover {
    border-color: rgba($white, 0.4);
    cursor: pointer;
  }
}
