@import "@styles/theme";

.root {
  width: 220px;
  height: 90px;
  display: flex;
  align-items: center;
  position: relative;

  svg {
    width: 90px;
    height: 90px;
    position: absolute;
    right: 0;
    top: 0;
  }

  .text {
    b {
      color: $primary;
      font-size: 48px;
      line-height: 30px;

      span {
        font-weight: 300;
        font-size: 24px;
      }
    }

    p {
      @include subtitle;
      font-weight: 300;
      color: $white;
    }
  }
}
